{
"common":
    {
    "value":
        {
        "startups":
            {
            "description": "Start-up apps.",
            "value": []
            }
        }
    },
"isc":
    {
    "value":
        {
        "auth_request_timeout":
            {
            "description": "Endpoint authentication request timeout.", 
            "value": 25200
            },
        "auth_level":
            {
            "description": "if auth_level is public, open all apis without checking auth.\nif auth_level is protect, check authentication.\nif auth_level is empty, protect is set as default",
            "value": ""
            }
        }

    },
"node":
    {
    "value":
        {
        "free_mode":
            {
            "value": 0
            }
        }
    }
}
