[node]
# Default node name.
name=test
ident=ident


[applications]
# Start-up apps.
startups=


[engine]
# Engine control RPC port.
control_port=20001
update_date=
discover_port=20002
num_workers=10
ssl_root_cert=
ssl_root_key=

[isc]
auth_request_timeout=25200
auth_level=

[et]
# Debugging level.
level=debug
# Maximum log file size. 50MB for now.
max_file_size=52428800
# Number of backup files.
num_backups=10
